body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section.main-content {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #333;
}

p {
    color: #555;
}

.featured-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
